<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Notes App NodeJs and MongoDb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, rerum dignissimos nobis dolorem adipisci
        necessitatibus. Vel, dolores! Sit voluptatem fuga, sint quam pariatur in minus, animi non ratione accusamus
        velit nam quos sequi suscipit officiis!</p>
    <a href="https://www.github.com/UserNanno" class="btn btn-primary btn-lg" href="#" role="button">UserNanno</a>
</div>